ion-title {
    width: 100%;
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    padding: 35px 20px 35px 20px;
}

.difficulty-level,
.num-exercises {
    border-radius: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
}

.speed {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.difficulty-level .label,
.speed .label,
.num-exercises .label {
    padding: 0 16px;
}

.difficulty-level .options {
    padding: 0 50px 20px 50px;
}

.text-zoom {
    display: inline-block
    /* animation: zoomInOut 2s ease-in-out infinite; */
}

.text-zoom h5 {
    font-weight: bold;
}

.speed .animation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.num-exercises .animation {
    padding: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
}

.button-opt {
    margin-top: 50px;
    padding: 5px;
}

.button-opt ion-button {
    --background: #1a4dbd;
    font-weight: bold;
    width: 100%;
    animation: bounce 2.5s ease infinite;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}